.about {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-bottom: 28px;
}

.about__list {
  @include list;
}

.about__item {
  margin-bottom: 22px;
  line-height: 20px;
  min-height: 100px;
}

.about__image {
  display: flex;
  align-items: center;
  width: auto;
  height: 38px;
}

.about__image--ecology {
  padding-left: 8px;
  margin-bottom: 17px;
}

.about__image--bill {
  padding-top: 2px;
  margin-bottom: 27px;
  height: 27px;
}

.about__image--heart {
  padding-left: 7px;
  padding-top: 3px;
  margin-bottom: 16px;
}

.about__image--thread {
  padding-top: 4px;
  padding-left: 3px;
  margin-bottom: 16px;
}

.about__image--rocket {
  height: 23px;
  padding-top: 8px;
  margin-left: -6px;
  margin-bottom: 27px;
}

.about__image--gift {
  padding-top: 4px;
  padding-left: 3px;
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .about__list {
    display: grid;
    grid-template-columns: 325px 1fr;
    column-gap: 10px;
    row-gap: 54px;
    font-size: 20px;
    line-height: 22px;
  }

  .about__title {
    margin-bottom: 42px;
  }

  .about__image {
    margin-bottom: 16px;
  }

  .about__item {
    margin-bottom: 0;
    line-height: 22px;
  }

  .about__item:nth-child(2) {
    grid-row: 2/3;
  }

  .about__item:nth-child(3) {
    grid-row: 3/4;
  }

  .about__item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .about__item:nth-child(5) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .about__item:nth-child(6) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .about__image--ecology {
    margin-bottom: 18px;
  }

  .about__image--thread {
    padding-top: 1px;
    padding-left: 2px;
    margin-bottom: 18px;
  }

  .about__image--bill {
    margin-bottom: 27px;
  }

  .about__image--rocket {
    padding-top: 5px;
    margin-bottom: 28px;
  }

  .about__image--gift {
    padding-top: 1px;
    margin-bottom: 18px;
  }
}

@media (min-width: $desktop-width) {
  .about__title {
    margin-bottom: 40px;
  }

  .about__list {
    grid-template-columns: 340px 1fr;
  }

  .about__image--rocket {
    margin-bottom: 30px;
  }

  .about__image--gift {
    padding-top: 0;
    margin-bottom: 16px;
  }

  .about__image--heart {
    padding-top: 0;
    margin-bottom: 16px;
  }
}
