.about {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-bottom: 28px;
}

.about__list {
  @include list;
}

.about__item {
  margin-bottom: 22px;
  line-height: 20px;
  height: 100px;
}

.about__image {
  display: flex;
  align-items: center;
  width: auto;
  height: 38px;
}

.about__image--ecology {
  padding-left: 8px;
  margin-bottom: 17px;
}

.about__image--bill {
  padding-top: 2px;
  margin-bottom: 27px;
  height: 27px;
}

.about__image--heart {
  padding-left: 7px;
  padding-top: 3px;
  margin-bottom: 16px;
}

.about__image--thread {
  padding-top: 4px;
  padding-left: 3px;
  margin-bottom: 16px;
}

.about__image--rocket {
  padding-top: 1px;
  margin-left: -6px;
  margin-bottom: 19px;
}

.about__image--gift {
  padding-top: 4px;
  padding-left: 3px;
  margin-bottom: 18px;
}

@media (min-width: 321px) and (max-width: $mobile-width-only) {
  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .about__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 410px;
    font-size: 20px;
    line-height: 22px;
  }

  .about__title {
    margin-bottom: 42px;
  }

  .about__image {
    margin-bottom: 18px;
  }

  .about__item {
    margin-bottom: 54px;
    max-width: 325px;
    line-height: 22px;
  }

  .about__item:nth-child(3n) {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .about__title {
    margin-bottom: 40px;
  }

  .about__item {
    margin-bottom: 52px;
  }

  .about__list {
    align-content: space-between;
  }
}
