.about {
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-bottom: 28px;
}

.about__list {
  @include list;
}

.about__item {
  margin-bottom: 28px;
  line-height: 20px;
  height: 100px;
}

.about__image {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  width: auto;
  height: 38px;
}

@media (min-width: 321px) and (max-width: $mobile-width-only) {
  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .about__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 410px;
    font-size: 20px;
    line-height: 22px;
  }

  .about__item {
    margin-right: auto;
    margin-bottom: 55px;
    max-width: 325px;
  }

  .about__item:nth-child(3n) {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding: 0 250px 0 225px;
  }
}
