.button {
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: #ffffff;
  color: #444444;
  cursor: pointer;
}

.button--primary {
  padding: 16px 70px;
  min-width: 260px;
  border: 2px solid #444444;
}
