.button {
  display: block;
  box-sizing: border-box;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  background-color: #ffffff;
  color: #444444;
  cursor: pointer;
}

.button--primary {
  padding: 14px 38px;
  width: 100%;
  border: 2px solid #444444;
}

.button--secondary {
  padding: 18px 38px;
  width: 100%;
  background-color: #63d1bb;
  color: #ffffff;
}

.button--cart {
  width: 20px;
  height: 20px;
}
