.catalog {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.catalog__list {
  @include list;
}

.catalog__item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog__item:not(:last-child) {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 50px;
  }

  .catalog__item:not(:last-child) {
    margin-bottom: 0;
  }
}
