.featured {
  position: relative;
  box-sizing: border-box;
}

.featured::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 6px;
  background: url("../img/zigzag-line.svg");
}

.featured__title {
  margin-bottom: 4px;
}

.featured__subtitle {
  display: block;
  margin-bottom: 18px;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.featured__description,
.featured__list {
  margin: 0;
  margin-bottom: 28px;
}

.featured__item {
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  padding: 8px 0 11px;
  line-height: 20px;
}

.featured__item:first-child {
  padding-top: 0;
}

.featured__attribute {
  min-width: 100px;
}

.featured__value {
  margin: 0;
  flex-grow: 1;
}

.featured__image {
  display: block;
  margin-bottom: 26px;
  width: 100%;
  height: auto;
}

.featured__price {
  margin: 0;
  margin-bottom: 24px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  color: #444444;
}

.featured__button {
  padding: 16px 38px;
}


@media (min-width: $tablet-width) {
  .featured {
    display: grid;
    grid-template-columns: 1fr 334px;
    grid-gap: 0 42px;
  }

  .featured::after {
    height: 17px;
    background: url("../img/zigzag-line-tablet.svg");
  }

  .featured__wrapper {
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
  }

  .featured__title {
    margin-bottom: 38px;
  }

  .featured__subtitle {
    width: 100px;
    text-align: center;
    line-height: 17px;
    margin: 6px 12px 10px;
  }

  .featured__description {
    margin-bottom: 40px;
  }

  .featured__item {
    font-size: 15px;

    &:first-child {
      padding-top: 8px;
    }
  }

  .featured__list {
    margin-bottom: 58px;
  }

  .featured__image-wrapper {
    grid-column: 2/3;
    grid-row: 2/6;
  }

  .featured__image {
    margin: 0;
    margin-top: 12px;
  }

  .featured__attribute {
    min-width: 98px;
  }

  .featured__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .featured__button {
    margin-bottom: 0;
    padding: 14px 38px;
  }
}

@media (min-width: $desktop-width) {
  .featured {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0 58px;
  }

  .featured::after {
    width: 1050px;
    height: 23px;
    background: url("../img/zigzag-line-desktop.svg");
    margin: 0 50px;
  }

  .featured__wrapper {
    display: flex;
    justify-content: flex-start;
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 2;
    margin-top: 60px;
    margin-left: -142px;
  }

  .featured__title {
    order: 2;
    margin-bottom: 35px;
  }

  .featured__subtitle {
    margin: 8px 42px 0 0;
  }

  .featured__description {
    margin-bottom: 60px;
  }

  .featured__item {
    padding: 5px 0 14px;

    &:first-child {
      padding-top: 0;
    }
  }

  .featured__list {
    margin-bottom: 108px;
  }

  .featured__image-wrapper {
    grid-column: 2/3;
    grid-row: 1/6;
  }

  .featured__image {
    margin: 0;
  }
}
