.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-field__field {
  flex-grow: 1;
  padding: 16px 0 18px;
  border: none;
  border-bottom: 2px solid #000000;
  font-family: $font;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  background-color: inherit;

  &:hover,
  &:active {
    border-bottom: 2px solid #62d1ba;
  }

  &:not(:placeholder-shown) {
    border-bottom: 2px solid #62d1ba;
  }
}

.form-field__field--tel,
.form-field__field--email {
  padding-right: 40px;
}

.form-field__field--tel + .form-field__icon {
  position: absolute;
  top: 11px;
  right: 7px;
}

.form-field__field--email + .form-field__icon {
  position: absolute;
  top: 16px;
  right: 3px;
}

.form-field__field:hover + .form-field__icon,
.form-field__field:active + .form-field__icon,
.form-field__field:not(:placeholder-shown) + .form-field__icon {
  fill: #62d1ba;
  opacity: 1;
}

.form-field__field::placeholder {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .form-field {
    flex-direction: row;
    min-width: 500px;
    align-items: center;
    flex-grow: 1;
  }

  .form-field__field {
    padding: 16px 18px 18px;
    font-size: 19px;
    line-height: 18px;
  }

  .form-field__field--tel,
  .form-field__field--email {
    padding: 14px 60px 20px 18px;
  }

  .form-field__field--tel + .form-field__icon {
    right: 26px;
  }

  .form-field__field--email + .form-field__icon {
    right: 22px;
  }

  .form-field__title {
    margin-right: 26px;
  }
}

@media (min-width: $desktop-width) {
  .form-field__field--tel,
  .form-field__field--email {
    padding-right: 40px;
  }

  .form-field__field--tel + .form-field__icon {
    right: 8px;
  }

  .form-field__field--email + .form-field__icon {
    right: 4px;
  }
}
