.intro {
  position: relative;
  min-height: 178px;
  background: #f1f1f1;
}

.intro::after {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 24px;
  background: url("../img/zigzag-fill.svg");
}

.intro--index {
  min-height: 486px;
  background: #f8f8f8;
  margin-bottom: 33px;

  &::after {
    bottom: -12px;
  }
}

.intro__container {
  display: flex;
  flex-direction: column;
}

.intro__wrapper {
  background: url("../img/hero-mobile.jpg") no-repeat center top -17px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.intro__title {
  flex-grow: 1;
  display: block;
  margin: 72px 30px;
  text-align: center;
}

.intro__title--index {
  min-height: 90px;
  margin-bottom: 120px;
}

.intro__list {
  @include list;
}

.intro__list__item {
  min-height: 102px;
  width: 100%;
  background-color: #63d1bb;
}

.intro__list__item--secondary {
  background-color: #56c3b2;
}

.intro__list__link {
  @include link;
  position: relative;
  display: block;
  padding: 24px 160px 30px 30px;
  font-size: 19px;
  color: #ffffff;

  &:hover::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.intro__list__link::after {
  content: "";
  position: absolute;
  opacity: 0.5;
}

.intro__list__link--interior::after {
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  background: url("../img/icon-interior.svg") no-repeat;
}

.intro__list__link--toys::after {
  top: 21px;
  right: 27px;
  width: 60px;
  height: 60px;
  background: url("../img/icon-toys.svg") no-repeat;
}


@media (min-width: $tablet-width) {
  .intro {
    min-height: 238px;
  }

  .intro::after {
    display: block;
  }

  .intro--index {
    margin-bottom: 52px;
  }

  .intro__wrapper {
    background: url("../img/hero-tablet.jpg") no-repeat center top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .intro__title {
    font-size: 43px;
    line-height: 50px;
    margin: 100px 175px 86px;
  }

  .intro__list {
    display: flex;
    margin: 0 50px;
  }

  .intro__list__item {
    min-height: 118px;
  }

  .intro__list__link {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 34px;
    padding-left: 36px;

    &::after {
      top: 30px;
      right: 32px;
    }
  }

  .intro__title--index {
    margin: 156px 52px 372px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 272px;
  }

  .intro::after {
    bottom: 0;
    min-width: 1150px;
    height: 34px;
    background: url("../img/zigzag-fill-desktop-not-index.svg");
  }

  .intro--index {
    margin-bottom: 72px;

    &::after {
      bottom: -15px;
      background: url("../img/zigzag-fill-desktop.svg") center;
    }
  }

  .intro__wrapper {
    background: url("../img/hero-desktop.jpg") no-repeat center top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .intro__title {
    font-size: 53px;
    line-height: 57px;
    margin: 102px auto 112px;
  }

  .intro__list {
    flex-wrap: wrap;
  }

  .intro__list__item {
    max-width: 525px;

    &:hover,
    &:active {
      transform: translateY(-5px);
    }
  }

  .intro__list__link {
    padding-top: 26px;
    padding-right: 304px;

    &::after {
      top: 32px;
      right: 36px;
    }
  }

  .intro__title--index {
    margin: 158px 225px 354px;
  }
}
