.intro {
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 178px;
  background: #f1f1f1;
}

.intro--index {
  min-height: 490px;
}

.intro__wrapper {
  background: url("../img/hero-mobile.jpg") no-repeat 0 -17px;
}

.intro__title {
  flex-grow: 1;
  display: block;
  margin: 72px 30px;
  text-align: center;
}

.intro__title--index {
  min-height: 90px;
  margin-bottom: 120px;
}

.intro__list {
  @include list;
}

.intro__list__item {
  min-height: 102px;
  width: 100%;
  background-color: #63d1bb;
}

.intro__list__item--secondary {
  background-color: #56c3b2;
}

.intro__list__link {
  @include link;
  position: relative;
  display: block;
  padding: 24px 160px 30px 30px;
  font-size: 20px;
  color: #ffffff;

  &:hover::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.intro__list__link::after {
  content: "";
  position: absolute;
  opacity: 0.5;
}

.intro__list__link--interior::after {
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  background: url("../img/icon-interior.svg") no-repeat;
}

.intro__list__link--toys::after {
  top: 21px;
  right: 27px;
  width: 60px;
  height: 60px;
  background: url("../img/icon-toys.svg") no-repeat;
}


@media (min-width: $tablet-width) {
  .intro {
    min-height: 238px;
  }

  .intro--index {
    margin-bottom: -24px;
  }

  .intro__title {
    font-size: 43px;
    line-height: 50px;
    margin: 100px 175px 86px;
  }

  .intro__list {
    display: flex;
    margin: 0 50px;
  }

  .intro__list__item {
    &:hover,
    &:active {
      transform: translateY(-5px);
    }
  }

  .intro__list__link {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 34px;

    &::after {
      top: 30px;
    }
  }

  .intro__title--index {
    font-size: 47px;
    margin: 154px 52px 372px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 272px;
  }

  .intro--index {
    margin-bottom: -14px;
  }

  .intro__title {
    font-size: 53px;
    line-height: 57px;
    margin: 102px auto 112px;
  }

  .intro__list {
    margin: 0 50px;
  }

  .intro__list__link {
    padding-right: 310px;
  }

  .intro__title--index {
    margin: 158px 225px 354px;
  }
}
