.main-nav__wrapper {
  display: flex;
}

.main-nav__logo {
  margin: 22px auto 22px 116px;
}

.main-nav__toggle {
  outline: 1px solid #0000ff;
  width: 44px;
  height: 44px;
  margin: 20px;
  padding: 12px;
}

.main-nav__list {
  @include list;
  display: none;
}

.main-nav__list--user {
  justify-self: end;
}

.main-nav__list:last-child {
  border-bottom: 1px solid #ececec;
}

.main-nav__item {
  border-top: 1px solid #ececec;
  line-height: 24px;
}

.main-nav__link {
  @include link;
  display: block;
  padding: 28px 30px 28px 76px;
}

.main-nav__delivery {
  display: none;
  margin: 0 auto;
}

.main-nav__list--additional {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: grid;
    grid-template-columns: 48% 1fr;
    align-items: center;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__list--site {
    grid-row: 2/3;
  }

  .main-nav__list--user {
    grid-column: 2/3;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list--additional {
    display: none;
  }

  .main-nav__delivery {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: grid;
    grid-template-columns: 40% 1fr 45%;
    align-items: center;
  }

  .main-nav__logo {
    grid-column: 2/3;
    margin: auto;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__list--site {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .main-nav__list--user {
    grid-column: 3/4;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__delivery {
    display: block;
    grid-column: 3/4;
    justify-self: self-end;
    margin-right: 0;
    padding-right: 50px;
  }
}
