.main-footer {
  background-color: #f1f1f1;
}

.main-footer__wrapper {
  padding: 0 30px;
}

.main-footer__logo {
  display: none;
}

.main-footer__social {
  padding: 28px 0;
}

.main-footer__copyright {
  padding: 30px 40px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__wrapper {
    padding: 50px 50px 58px;
  }

  .main-footer__logo {
    display: block;
  }

  .main-footer__social {
    padding: 0;
  }

  .main-footer__copyright {
    padding: 0;
  }
}
