.main-footer {
  background-color: #f1f1f1;
}

.main-footer__wrapper {
  max-width: 1050px;
  padding: 0 30px;
}

.main-footer__logo {
  display: none;
}

.main-footer__logo:hover svg {
  fill: #46c1ae;
}

.main-footer__logo:active svg {
  fill: #46c1ae;
  opacity: 0.3;
}

.main-footer__social {
  padding: 22px 0 23px;
}

.main-footer__copyright {
  padding: 22px 0;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 58px;
  }

  .main-footer__logo {
    display: block;
  }

  .main-footer__social {
    padding: 0;
  }

  .main-footer__copyright {
    padding: 0;
  }
}
