.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-family: $font;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  color: #444444;
}

.page__body--no-overflow {
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .page__body {
    font-size: 17px;
    line-height: 30px;
  }
}
