.reviews__title {
  margin-bottom: 14px;
}

.reviews__item {
  display: none;
  margin: 0;
}

.reviews__item--active {
  display: block;
}

.reviews__text {
  margin: 0;
  margin-bottom: 32px;
  line-height: 30px;
}

.reviews__author {
  display: none;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
}

.reviews__author--active {
  display: flex;
  flex-direction: column;
}

.reviews__handle {
  font-weight: 400;
  line-height: 30px;
}

.reviews__buttons {
  display: flex;
  margin-bottom: 38px;
}

.reviews__prev,
.reviews__next {
  display: block;
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  background: url("../img/huge-arrow.svg") no-repeat center;
}

.reviews__next {
  transform: rotate(180deg);
}

.reviews__button {
  margin-bottom: 46px;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    display: grid;
    grid-template-columns: 1fr 175px;
  }

  .reviews__list {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .reviews__list--author {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .reviews__buttons {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    padding-left: 175px;
  }
}
