.title {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.title--secondary {
  font-size: 25px;
}

.title--form {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.title--catalog {
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .title,
  .title--secondary {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $tablet-width) {
  .title,
  .title--secondary {
    font-size: 53px;
    line-height: 57px;
  }
}
